**Importing required modules**
* `requests` used for importing the downloaded zip file
* `zipfile` for opening the zip file
* `pandas` as datatype

In [43]:
import requests
import zipfile
import pandas as pd
import math

**Importing file and creating pandas dataframe**

In [10]:
#Download data to streetdata.zip in working directory
streetdataZIP_url = 'https://drive.google.com/uc?export=download&id=16c8A7GCe9VnTLYCZI9v15K64VCBoNnYf'
response = requests.get(streetdataZIP_url)
open("streetdata.zip", "wb").write(response.content)

#Extract files from streetdata.zip
zf = zipfile.ZipFile('streetdata.zip')
zf.extractall()

In [14]:
streetname_df = pd.read_csv('all_data_mapping_diversity/allstreets_allcities_aug-23.csv')
print(streetname_df.columns)
streetname_df_CUT = streetname_df.drop(['description', 
                                        'wikipedia', 
                                        'picture_embed', 
                                        'image_credit'], axis='columns')
print(streetname_df_CUT.columns)

Index(['gisco_id', 'lau_name', 'country', 'street_name', 'named_after_n',
       'label', 'named_after_id', 'instance_of_label', 'person', 'description',
       'gender', 'occupation_label', 'occupation_category', 'date_of_birth',
       'date_of_death', 'place_of_birth_label', 'place_of_death_label',
       'country_of_citizenship_label', 'place_of_birth_latitude',
       'place_of_birth_longitude', 'place_of_death_latitude',
       'place_of_death_longitude', 'wikipedia', 'picture_embed',
       'image_credit'],
      dtype='object')
Index(['gisco_id', 'lau_name', 'country', 'street_name', 'named_after_n',
       'label', 'named_after_id', 'instance_of_label', 'person', 'gender',
       'occupation_label', 'occupation_category', 'date_of_birth',
       'date_of_death', 'place_of_birth_label', 'place_of_death_label',
       'country_of_citizenship_label', 'place_of_birth_latitude',
       'place_of_birth_longitude', 'place_of_death_latitude',
       'place_of_death_longitude'],
      dtype='object')

In [26]:
print(streetname_df_CUT.head())

   gisco_id lau_name country         street_name  named_after_n label  \
0  AT_90001     Wien      AT         "Am Wasser"            1.0   NaN
1  AT_90001     Wien      AT                   1            1.0   NaN
2  AT_90001     Wien      AT  1. Haidequerstraße            1.0   NaN
3  AT_90001     Wien      AT       1. Molostraße            1.0   NaN
4  AT_90001     Wien      AT           1. Straße            1.0   NaN

  named_after_id instance_of_label  person gender  ... occupation_category  \
0            NaN               NaN     0.0    NaN  ...                 NaN
1            NaN               NaN     0.0    NaN  ...                 NaN
2            NaN               NaN     0.0    NaN  ...                 NaN
3            NaN               NaN     0.0    NaN  ...                 NaN
4            NaN               NaN     0.0    NaN  ...                 NaN

  date_of_birth date_of_death place_of_birth_label place_of_death_label  \
0           NaN           NaN                  NaN                  NaN
1           NaN           NaN                  NaN                  NaN
2           NaN           NaN                  NaN                  NaN
3           NaN           NaN                  NaN                  NaN
4           NaN           NaN                  NaN                  NaN

  country_of_citizenship_label place_of_birth_latitude  \
0                          NaN                     NaN
1                          NaN                     NaN
2                          NaN                     NaN
3                          NaN                     NaN
4                          NaN                     NaN

   place_of_birth_longitude  place_of_death_latitude  place_of_death_longitude
0                       NaN                      NaN                       NaN
1                       NaN                      NaN                       NaN
2                       NaN                      NaN                       NaN
3                       NaN                      NaN                       NaN
4                       NaN                      NaN                       NaN

[5 rows x 21 columns]

In [18]:
streetname_df_CUT.occupation_category.unique()

array([nan,
       'culture, science, arts; culture, science, arts; culture, science, arts; politics and government',
       'culture, science, arts; culture, science, arts; culture, science, arts',
       ...,
       'culture, science, arts; culture, science, arts; culture, science, arts; politics and government; culture, science, arts; culture, science, arts; politics and government; culture, science, arts',
       'culture, science, arts; culture, science, arts; culture, science, arts; culture, science, arts; culture, science, arts; politics and government; politics and government',
       'culture, science, arts; culture, science, arts; culture, science, arts; culture, science, arts; military; culture, science, arts'],
      dtype=object)

In [47]:
testing_countof_rel = 0
testing_countof_polgov = 0
testing_countof_NaN = 0

for category_val in streetname_df_CUT['occupation_category']:
    if 'politics and government' in str(category_val):
        testing_countof_polgov += 1
    if 'religion' in str(category_val):
        testing_countof_rel += 1
    if type(category_val) == float:
        if math.isnan(category_val) == True:
            testing_countof_NaN += 1

print(testing_countof_polgov/len(streetname_df_CUT)*100)
print(testing_countof_rel/len(streetname_df_CUT)*100)
print(testing_countof_NaN, len(streetname_df_CUT))

6.226488438581532
2.178738024778051
128246 159496